.ui-content{overflow:hidden!important;}

/* Página del Inicio */
#home{ background: white; }
.home{ position: relative; overflow: hidden; min-height: 548px;}
.home > div{ position: absolute; top: 0; }
.home .image{ width: 100%; height: 100%; background-image: url(../img/home.png); background-repeat: no-repeat; background-position: 50% 150%; }
.home .lenguaje{ bottom: 30%; width: 100%; min-height: 70px;top: inherit; text-align: center; max-width: 340px; margin:auto; left: 0; right: 0; }
.home .lenguaje span{ cursor: pointer; font-size: 18px; color: gray; transition:.5s; margin: 0 auto; left: 0; right: 0; position: absolute; }
.home .lenguaje span:hover{ color:steelblue; font-weight: bold; }
.home .lenguaje .eng{ padding-right: 1em; top: 14%; left: -17%; }
.home .lenguaje .esp{ padding-left: 1em;  bottom: 10%; left: 11%;}
.home .lenguaje hr{ transform: rotate(-13deg);-webkit-transform: rotate(-13deg);-moz-transform: rotate(-13deg);-o-transform: rotate(-13deg); background: steelblue; height: 2px; position: absolute; width: 100%; position: absolute; margin: auto; top: 0; bottom: 0; }

#article h1{color: rgb(0, 142, 178);font-family: "Roboto";text-transform: uppercase;width: 90%!important;font-size: 1.8rem;font-weight:bold;padding-bottom: .38rem;border-bottom-color: rgb(0, 142, 178);line-height: 1;}
#article h1 + p{font-family:'Roboto'!important;font-size: 1.3rem;color: rgba(0,0,0,.9);font-weight: 300;word-break:break-word;}
#article h1 + p + p{color: #404040; padding: 0 5%;font-family:'Roboto'!important;font-size: 1.3rem;color: rgba(0,0,0,.9);font-weight: 300;word-break:break-word;}
#article h1 + p + p + ul{margin-top: 0;font-size: 1.3rem;}
#article h1 + p:first-letter{text-transform: uppercase;}
#menu div[data-role="header"] h1{color: gray !important;font-size: 1.3rem!important;font-weight: normal!important; padding-top: 0!important; line-height: 2;}
#entrades div[data-role="header"] h1{color: gray !important;font-size: 1.3rem!important;font-weight: normal!important; padding-top: 0!important; line-height: 2;}
#article div[data-role="header"] h1{width: 100%!important;color: gray !important;font-size: 1.3rem!important;font-weight: normal!important; padding-top: 0!important; line-height: 2;}
a[href="#home"],a[data-role="button"]{margin-top: 0;margin-bottom: 0; padding: .25em 1em; }

.item_category h5{font-weight: normal!important;color: rgb(91, 91, 91);font-family: "Roboto";text-transform:uppercase; padding-top:.2em; font-size: 1.5rem;font-weight:300;}
.item_category{ overflow: auto; padding-bottom: .5em; width: 97%; display:block; margin: 0 auto; border-bottom: thin solid rgb(193, 193, 193); margin-top: .25em; cursor:pointer; }
.item_category_container{border-radius:50%; background-color: rgba(128, 128, 128, 0.47); max-height:56px;max-width: 58px;min-height:56px;min-width: 58px; overflow: hidden;}
.m {overflow: auto;margin-bottom: 1%;}
span.title_app,span.title_entrade {font-size: 77%;}
body{background: rgb(238, 238, 238)!important;}
.flexslider .slides .img-parallax{ position: relative;top:0; background-size: contain;background-repeat: no-repeat;background-position: top center;background-attachment: fixed;}

@media only screen and (max-width : 480px) and (orientation:landscape){
    .home{overflow: hidden;width: 100vw; min-height: 100vh;}
    .home .lenguaje{ bottom: 5%;}
    .home .image{background-position: 50% 31%;}
    .flexslider .slides{ max-height: 60vh; }
}
@media only screen and (max-width : 320px) and (orientation:portrait){
    .home{overflow: hidden;width: 100vw; min-height: 100vh;}
    .home .lenguaje{ bottom: 20%;}
    .home .image{background-position: 50% 50%;}
}

@media (max-width: 320px){
    .home{overflow: hidden;}
    .home .image{background-position: 50% 50%;}
    .item_category h5{ padding-left: .5em; font-size: 1.2rem; padding-top:9px; }
    .titulo{ font-size: 1rem; }
    #menu div[data-role="header"] h1{font-size: 1.1rem!important;padding-top: 4px!important;}
    .flexslider .slides{max-height: 270px!important;}
    .flexslider .slides > li {height: 270px;}
    .flexslider .slides .img-parallax {height: 100%;width: auto;margin: 0 auto;}
    .imagen{height:130px;}
}
@media (max-width:480px){
    .imagen{height:130px!important;}
}
@media (min-width: 300px){
    .home{overflow: hidden!important;}
}
@media(min-width:321px){
    .flexslider .slides .img-parallax {height: 100%;width: auto;margin: 0 auto;}
    .flexslider .slides > li {height: 40vh;}
    .imagen{height:150px;}
}
@media(min-width:800px){
    .imagen{height:200px;}
}
#article h1 + p + ul{list-style-type: circle;padding-left: 11%;font-size: 1.3rem;}
#article h1 + p + p + ul{list-style-type: circle;padding-left: 11%;font-size: 1.3rem;}
#article h1 + p + p + p + ul{list-style-type: circle;padding-left: 11%;font-size: 1.3rem;}
#article h1 + p + p + ul li{list-style-type: circle;font-size: 1.3rem;padding-bottom:1rem;}
#article h1 + p + p + p + ul li{list-style-type: circle;font-size: 1.3rem;padding-bottom:1rem;}
#article h1 + p + ul li{list-style-type: circle;font-size: 1.3rem;padding-bottom:1rem;}
.western{padding-left: 5%;padding-right:5%;font-size: 1.3rem;}